* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #343D46;
	color: #fff;
}

.ant-list-item-meta-title {
	margin-bottom: 0 !important;
}

.chart-holder {
	&:not(.fullscreen) {
		.header.cds--cc--layout-row {
			color: #fff;

			.title,
			button {
				color: inherit;
			}

			button:not(:hover) {
				svg {
					fill: currentColor !important;
				}
			}

			.title {
				font-size: 28px;
				font-weight: 700;
			}
		}
	}
}


.drawer {
	.ant-form-item-row {
		.ant-form-item-label {
			width: 130px;
		}
	}

	.ant-form-item-control-input-content {
		.ant-btn {
			width: 100%;
			min-height: 50px;
		}
	}
}

.ant-drawer-header-title {
	flex-direction: row-reverse;
	.ant-drawer-close {
		margin: 0 !important;
	}
}

.app-layout {
	min-height: 100vh;
}

.app-aside {
	@media (max-width: 1000px) {
		width: 100% !important;
		max-width: 100%;
		height: auto !important;
		min-height: auto;
		padding: 20px 15px 30px;
	}
}

.app-content {
	@media (max-width: 1000px) {
		padding: 30px 15px;
	}

	.app-content-row {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
	}

	.app-content-panel {
		@media (max-width: 1000px) {
			width: 100% !important;
		}
	}
}

@media (max-width: 1200px) {
	h1,
	.chart-holder:not(.fullscreen) .header.cds--cc--layout-row .title {
		font-size: 18px;
	}
	.app-chart-panel {
		margin-top: -10px;
	}
}
@media (max-width: 700px) {
	.app-layout {
		flex-direction: column-reverse !important;
		> * {
			width: 100% !important;
			max-width: none !important;
		}
	}
}
